@model SES.Services.Soap.BankPinService.bankPinServiceResponse
@using SES.Data.Entities
@{
    ViewData["Title"] = "Results";
}
<div>
    <div class="container">
        <h4>Персональные сведения о субьекте из ГРС</h4>
        <table id="bankPinTable" class="table table-sm table-bordered mt-3">
            <tr>
                <th class="w-25">@Html.DisplayName("ПИН")</th>
                <td>@Html.DisplayFor(model => model.request.pin)</td>
            </tr>
            <tr>
                <th>@Html.DisplayName("Фамилия")</th>
                <td>@Html.DisplayFor(model => model.response.surname)</td>
            </tr>
            <tr>
                <th>@Html.DisplayName("Имя")</th>
                <td>@Html.DisplayFor(model => model.response.name)</td>
            </tr>
            <tr>
                <th>@Html.DisplayName("Отчество")</th>
                <td>@Html.DisplayFor(model => model.response.patronymic)</td>
            </tr>
            <tr>
                <th>@Html.DisplayName("Пол")</th>
                <td>@Html.DisplayFor(model => model.response.gender)</td>
            </tr>
            <tr>
                <th>@Html.DisplayName("Семейное положение")</th>
                <td>@Html.DisplayFor(model => model.response.familyStatus)</td>
            </tr>
            <tr>
                <th>@Html.DisplayName("Дата рождения")</th>
                <td>@Html.DisplayFor(model => model.response.dateOfBirth)</td>
            </tr>
        </table>
        <button type="button" onclick="getData();" class="btn btn-sm btn-success">Печать</button>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.69/pdfmake.min.js" integrity="sha512-3O/98mQR8VAbnoxtu0U5RFMeKwxzBXFzLtbGUVdvvnRYvXI7iQ64BrtatgIdsz4jHzs/MypLonFGfOdC0W5xHQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.69/vfs_fonts.min.js" integrity="sha512-VIF8OqBWob/wmCvrcQs27IrQWwgr3g+iA4QQ4hH/YeuYBIoAUluiwr/NX5WQAQgUaVx39hs6l05cEOIGEB+dmA==" crossorigin="anonymous"></script>
    <script>

        function getData() {
            let oTable = document.getElementById('bankPinTable');
            let data = [...oTable.rows].map(t => [...t.children].map(u => u.innerText))
            GeneratePdf(data)
            console.log(data)
        }

        function GeneratePdf(data) {
            var docDefinition = {
                header: {
                    text: "Сведения из ГРС",
                    alignment: 'center',
                    margin: [20, 20, 20, 20]
                },
                content: [
                    {
                        table: {
                            // headers are automatically repeated if the table spans over multiple pages
                            // you can declare how many rows should be treated as headers
                            headerRows: 1,
                            widths: ['25%', '75%'],

                            body: data,
                        }
                    }
                ],

                pageSize: 'A4',
                //pageOrientation: 'landscape',
                pageMargins: [50, 50, 60, 30]
            }

            pdfMake.createPdf(docDefinition).open();
            console.log("success")
        }
    </script>
}

